<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header', { title: '404'}) %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="preload" href="/public/css/error.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="./public/css/error.css"></noscript>
</head>

<body>
    <div id="error">
        <div class="error">
            <div class="error-code">
                <h1>404</h1>
            </div>
            <h2>404 - Resource not found</h2>
            <p>The resource you are looking for might have been removed had its name changed or is temporarily
                unavailable.</p>
            <a href="/">Go To Homepage</a>
        </div>
    </div>
</body>

</html>