<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/header', { title: 'Home'}) %>
</head>

<body>
  <!-- absloute div in top left with develop text -->
  <div class="position-absolute">
    <span class="fs-6"><i>This is a development site</i></span>
  </div>
  <div class="container-fluid vh-100 shop-bg">
    <div class="mb-5 text-center container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <h1 class="display-5 fw-bold">Elite School Roof Club</h1>
          <!-- Link to steam page https://store.steampowered.com/app/1929930/Elite_School_Roof_Club/ -->
          <a href="https://store.steampowered.com/app/1929930/Elite_School_Roof_Club/" target="_blank"
          class="btn btn-warning btn-lg mt-3">Play Now</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Core JS -->
  <script src="/public/js/scripts.js"></script>
</body>

</html>