<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/header', { title: 'Home'}) %>
</head>

<body>
  <!-- absloute div in top left with develop text -->
  <div class="position-absolute" style="z-index: 99">
    <span class="fs-6 text-warning"><i>This is a development site</i></span>
  </div>
  <br>
  <br>
  <div class="menu-container position-relative mt-2 mx-4 bg-white">
    <img src="/public/static/menu/main_menu1.png" class="img-fluid position-absolute z5" alt="Responsive image">
    <img src="/public/static/menu/main_menu3.png" class="img-fluid position-absolute z5" alt="Responsive image">
    <img src="/public/static/menu/main_menu5.png" class="img-fluid position-absolute z3" alt="Responsive image">
    <img src="/public/static/menu/main_menu6.png" class="img-fluid position-absolute z3" alt="Responsive image">
    <img src="/public/static/menu/main_menu7.png" class="img-fluid position-absolute z3" alt="Responsive image">
    <img src="/public/static/menu/main_menu8.png" class="img-fluid position-absolute fixed-bottom z2" alt="Responsive image">
    <img src="/public/static/menu/main_menu9.png" class="img-fluid position-absolute z1" alt="Responsive image">
    <!-- Glitch Effects -->
    <img src="/public/static/menu/main_menu1c.png" class="img-fluid position-absolute z6 menu-g1" alt="Responsive image">
    <img src="/public/static/menu/main_menu5c.png" class="img-fluid position-absolute z4 menu-g5" alt="Responsive image">
    <img src="/public/static/menu/main_menu6c.png" class="img-fluid position-absolute z4 menu-g6" alt="Responsive image">
    <img src="/public/static/menu/main_menu7c.png" class="img-fluid position-absolute z4 menu-g7" alt="Responsive image">
  </div>

  <div class="mb-5 text-center container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div>
        <h1 class="display-5 fw-bold">Elite School Roof Club</h1>
        <!-- Link to steam page https://store.steampowered.com/app/1929930/Elite_School_Roof_Club/ -->
        <a href="https://store.steampowered.com/app/1929930/Elite_School_Roof_Club/" target="_blank"
        class="btn btn-warning btn-lg mt-3">Play Now</a>

      </div>
    </div>
  </div>
  <!-- Core JS -->
  <script src="/public/js/scripts.js"></script>
</body>

</html>